h1{
    text-align: center;
    color: aliceblue;

}
.container-fluid{
    text-align: center;
    justify-content: center;
}
.test{
    display: flex;
    justify-content: center;
    margin: 2px;
   
}
.input-group-text{
    background-color: rgb(148, 202, 202);
}
input:focus-visible {
    background-color: rgb(58, 51, 59);
}
body{
    background: rgb(0, 0, 0);
}
#dataCard{
    display: flex;
   justify-content: center;
}
.card-title{
 text-align: center;
}
.card-body{
 background-color: rgb(240, 200, 237);
}